/***************** General items **********************/

html {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 80%;
}

.top-line {
    margin: 0;
    padding: 0;
    background-color: #22d3c5;
    height: 6px;
}

body {
    background-image: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-position: 70% 60%;
}



/***************** Nav elements **********************/

.header {
    background-color: white;
    padding-bottom: 25px;
}

.icon-text p {
    display: inline-flex;
    padding-top: 40px;
    font-size: larger;
}

.icon-sections img {
    padding-right: 10px;
    padding-top: 20px;
}

.icon-row {
    justify-content: flex-end;
}

.logo {
    padding-top: 30px;
}

ul .nav-item a {
    margin-top: 20px;
    color: #007DB0;
    float: right;
    font-size: larger;
}

.nav {
    display: inline-flex;
}




/***************** Banner **********************/

.banner {
    /*background-image: url("Images/bridging-the-gap-banner.jpg");*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    height: 400px;
    margin: 0;
    padding: 0;
}

.carousel-inner {
    height: 400px;
}

.carousel-item img .d-block {
    background-repeat: no-repeat;
    background-position: center;
}

.color-box {
    background-color: #22d3c5;
    padding-right: 206px;
    padding-top: 50px;
    border-radius: 50px 0 0 50px; /* top left, top right, bottom right, bottom left */
}

.color-box h1 {
    color: #fff;
    text-align: right;
    font-size: 50px;
    font-weight: normal;
    padding-bottom: 25px;
}

.color-box p {
    color: #fff;
    text-align: right;
    font-size: medium;
    line-height: 30px;
    font-size: 20px;
    padding-bottom: 20px;
}

.btn-banner {
    background-color: #34495e;
    height: 60px;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    width: 180px;
    position: absolute;
    right: 200px;
}

.btn-banner .fa-arrow-right {
    color: #fff;
    padding-left: 15px;
    align: right;
}




/***************** Cards **********************/

.card-deck {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    }

.card-body {
    font-size: larger;
}

.card .card-img-top {
    max-height: 310px;
}

.card-body-1 {
    background-color: #ed1b5b;
}

.card-body-2 {
    background-color: #00aeef;
}

.card-body-3 {
    background-color: #f78f1e;
}

.card h5 {
    color: #fff;
    text-align: center;
    font-size: 26px;
}

.card p {
    color: #fff;
    text-align: center;
}

.card .card-btn {
    display: flex;
    margin: 0 auto;
    height: 45px;
    width: 140px;
    justify-content: center;
    font-weight: 600;
    border-radius: 20px;
    background-color: #fff;
}

.card-body p {
    padding-bottom: 15px;
}

.btn-text-1 {
    color: #ed1b5b;
}

.btn-text-2 {
    color: #00aeef;
}

.btn-text-3 {
    color: #f78f1e;
}


/***************** News **********************/

.news-hr {
    border:none;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #00000;
    box-shadow: 0 20px 20px -20px #245;
    margin: -50px auto 10px;
}

.news {
    padding: 50px 0;
    padding-left: 30px;
}

.news h3 {
    font-size: 2.5em;
    color: #1c1277;
}

.news p {
    font-size: 1.25em;
    width: 83%;
}

/***************** Tabbed section **********************/

.tabs-hr {
    border:none;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #00000;
    box-shadow: 0 -20px 20px -20px #245;
    margin: -20px auto -50px;
}

.tab-section {
    padding-top: 50px;
}
.tab-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255);
}

.tab-content {
    border: 1px solid lightgray;
    background-color: white;
    padding: 30px;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs .nav-link {
    display: block;
    padding: 16px 32px;
    font-size: 1.25em;
    color: #34495e;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    display: block;
    padding: 16px 32px;
    font-size: 1.25em;
    color: #3ed6ca;
}



.small-logo {
    height: 110px;
}

.news-section h4 {
    font-size: 1.5rem;
    color: #322885;
    padding-bottom: 10px;
}

.news-section a {
    color: #3ed6ca;
    font-size: 1.25rem;
}

.news-section p {
    font-size: 1.25rem;
}


/***************** Footer **********************/


footer{
    background-color: #34495e;
    padding:25px 0px;
}

.address span , .contact span , .social span, .website span {
    color: #FFF;
    font-weight: 800;
    padding:20px 0px;
    display: block;
    font-size: 16px;
    letter-spacing: 3px;
}

.address li , .contact li {
    padding:5px 0px;
    list-style: none;
}

.address p , .contact p , .website p{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:14px;
    line-height: 40px;
}

.social a {
    text-align: center;
    color: #fff;
    font-size: 45px;
    padding-right: 35px;
}